@model _20F_0292_BCS_6E_Advanced_Programming_Final.Models.Admin

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Admin!</h2>

<h4>Are you sure you want to delete current Admin?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <br />
            <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
